In [6]:
import pickle 
import pandas as pd 
import numpy as np

In [7]:
m = ['perc_LT', 'LT_item_cvg' ]

r = pd.read_excel('/home/mila/r/rebecca.salganik/scratch/PinSAGE_experiments/FULL_RUNS/MPD_Subset/REDRESS/FMT_AVG_res_T_80_20_09-04.xlsx')

r[m].apply(lambda x: np.round(x, 3))

   perc_LT  LT_item_cvg
0    0.619        0.035
1    0.604        0.034
2    0.603        0.033
3    0.589        0.032
4    0.611        0.035
5    0.632        0.037
6    0.645        0.038
7    0.651        0.039
8    0.671        0.040
9    0.668        0.040